
<div class="top_nav_bar_wrapper">
  <a href="/ice_cream_shops" class="top_links_nav_links margin_left_display">Ice Cream Shop Index</a>
  <a href="/flavors" class="top_links_nav_links">Flavors Index</a>
</div>

<div class="format_indent">
  <h2 class="title">Edit Flavor:</h2>
  <%= form_with url: "/flavors/#{@flavor.id}", method: :patch, local: true do |form| %>

    <%= form.label :flavor_name %><br/>
    <%= form.text_field :flavor_name, value: "#{@flavor.flavor_name}" %><br/>

    <%= form.label "Has Dairy?" %><br/>
    <%= form.radio_button :dairy_free, 'true' %> Yes<br /><br/>
    <%= form.radio_button :dairy_free, 'false' %> No<br /><br/>

    <%= form.label "Has Nuts?" %><br/>
    <%= form.radio_button :nut_free, 'true' %> Yes<br /><br/>
    <%= form.radio_button :nut_free, 'false' %> No<br /><br/>

    <%= form.label :calories_per_scoop %><br/>
    <%= form.text_field :calories_per_scoop, value: "#{@flavor.calories_per_scoop}" %><br/>

    <%= form.label :price_per_scoop %><br/>
    <%= form.text_field :price_per_scoop, value: "#{@flavor.price_per_scoop_to_cents}" %><br/>

    <%= form.label :shop_id %><br/>
    <%= form.text_field :shop_id, value: "#{@flavor.shop_id}" %><br/>

    <%= form.submit "Submit"%>
  <% end %>

</div>
