<a href="/flavors">Flavors Index</a>

<h1><%= @flavor.flavor_name %></h1>

<p>Dairy Free? <%= @flavor.dairy_free %></p>

<p>Nut Free? <%= @flavor.nut_free %></p>

<p>Calories: <%= @flavor.calories_per_scoop %></p>

<p>Price Per Scoop: <%= @flavor.price_per_scoop %></p>

<p>Shop ID: <%= @flavor.shop_id %></p>

<p>Created At: <%= @flavor.created_at %></p>

<p>Updated At: <%= @flavor.updated_at %></p>

<a href="/flavors/<%= @flavor.id %>/edit">Edit</a>
