<a href="/flavors">Flavors Index</a>

<h1><%= @flavor.flavor_name %></h1>

<p><%= @flavor.dairy_free %></p>

<p><%= @flavor.nut_free %></p>

<p><%= @flavor.calories_per_scoop %></p>

<p><%= @flavor.created_at %></p>

<p><%= @flavor.updated_at %></p>

<a href="/flavors/<%= @flavor.id %>/edit">Edit</a>
