<div class="top_nav_bar_wrapper">
  <a href="/ice_cream_shops" class="top_links_nav_links margin_left_display">Ice Cream Shop Index</a>
  <a href="/flavors" class="top_links_nav_links">Flavors Index</a>
</div>

<div class="format_indent">

  <h2 class="title">Add a new flavor for <%= @shop.name %>:</h2>

  <%= form_with url: '/flavors', method: :post, local: true do |form| %>

    <%= form.label :flavor_name %><br/>
    <%= form.text_field :flavor_name %><br/>

    <%= form.label "Has Dairy?" %><br/>
    <%= form.radio_button :dairy_free, 'true' %> Yes<br /><br/>
    <%= form.radio_button :dairy_free, 'false' %> No<br /><br/>

    <%= form.label "Has Nuts?" %><br/>
    <%= form.radio_button :nut_free, 'true' %> Yes<br /><br/>
    <%= form.radio_button :nut_free, 'false' %> No<br /><br/>

    <%= form.label :calories_per_scoop %><br/>
    <%= form.text_field :calories_per_scoop %><br/>

    <%= form.label :price_per_scoop %><br/>
    <%= form.text_field :price_per_scoop %><br/>


    <%= form.label :shop_id, style: "display:none;"  %><br/>
    <%= form.text_field :shop_id, value: "#{@shop.id}", style: "display:none;" %><br/>

    <%= form.submit "Submit", :class => 'button_margin'%>
  <% end %>
</div>
